.category-products {
  width: 100%;
  background-color: #eff5f5;
  .container {
    .title {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 20px;
      font-family: "Jost", sans-serif;
      color: #112b3c;
      h1 {
        font-size: 30px;
        font-weight: 500;
      }
    }
    
  }
}
