.category-products {
  width: 100%;
  background-color: #eff5f5;
  .container {
    .title {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 20px;
      font-family: "Jost", sans-serif;
      color: #112b3c;
      h1 {
        font-size: 30px;
        font-weight: 500;
      }
    }
    .products {
      position: relative;
      .product {
        margin: 20px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 40px;
      }
      .slider-buttons {
        width: 100%;
        display: flex;
        top: 50%;
        position: absolute;
        justify-content: space-between;

        .chevron {
          width: 40px;
          height: 40px;
          font-size: 20px;
          border-radius: 100%;
          border: none;
          opacity: 0.4;
          background-color: #497174;
          cursor: pointer;

          &:hover {
            opacity: 1;
            background-color: #497174;
            transition: background-color 0.3s;
            color: white;
          }
        }
      }
    }
  }
}
