.footer {
  .footer-up {
    background-color: #112b3c;
    .container {
      .footerUp-wrapper {
        padding: 60px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .footerUp {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .footerUp-top {
            font-family: "Jost", sans-serif;

            .titles {
              font-size: 30px;
              max-width: 400px;
              color: #eff5f5;
              line-height: 1.2;
            }
            .subtitles {
              font-size: 15px;
            }
            .titles-right {
              font-size: 30px;
              max-width: 236px;
              line-height: 1.2;
              color: #eff5f5;
            }
            .subtitles {
              color: #8c9ba3;
            }
          }
          .footerUp-bottom {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .img {
              display: flex;
              margin-top: 40px;
              gap: 15px;

              .app-store {
                height: 42px;
              }
              .google-play {
                margin-top: 3px;
                height: 36px;
              }
            }
            form {
              display: flex;

              input {
                width: 100%;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                border: 1px solid #d6e4e5;
                text-indent: 15px;

                &::placeholder {
                  font-size: 15px;
                  font-family: "Jost", sans-serif;
                }
              }
              .subscribe {
                padding: 15px 50px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                background-color: #eff5f5;
                border: none;
                border: 1px solid #d6e4e5;
                font-family: "Jost", sans-serif;
                color: #497174;
                &:hover {
                  background-color: #497174;
                  color: white;
                }
              }
            }
            .subtitles {
              color: #8c9ba3;
              font-size: 13px;
              font-family: "Jost", sans-serif;
            }
          }
        }
      }
    }
  }

  .footer-center {
    .container {
      .footer-center-wrapper {
        padding: 100px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        .footer-center-left {
          display: flex;
          flex-direction: column;
          font-family: "Jost", sans-serif;
          gap: 15px;
          color: #112b3c;
          .logo {
            font-size: 30px;
            font-weight: 600;
          }
          .subtitle {
            max-width: 500px;
            opacity: 0.8;
          }
          .number {
            opacity: 0.8;
          }
        }
        .footer-center-right {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          color: #112b3c;
          .right {
            font-family: "Jost", sans-serif;
            font-size: 15px;
            h1 {
              font-weight: 500;
              margin-bottom: 10px;
            }
            li {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .footer-down {
    border: 1px solid #d6e4e5;
    .container {
      .footer-down-wrapper {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        .footer-down-left {
         display: flex;
         flex-direction: column;
         gap: 15px;
          .footer-down-top {
            color:#455B68;
              font-size: 13px;
              font-family: "Jost", sans-serif;

          }
         
        }
        .footer-down-right{
          .footer-policy{
            color:#455B68;
              font-size: 13px;
              font-family: "Jost", sans-serif;
              display: flex;
              gap: 15px;

            li:not(:last-child){
              border-right: 1px solid #dee0ea;
              padding-right: 5px;
              

            }
          }
         }
      }
    }
  }
}
