@use "../abstract/mixins" as *;
header {
  border: 1px solid #d6e4e5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
  @include size(100%, 145px);
  background-color: #eff5f5;
  .global-notification {
    height: 45px;
    @include places;
    font-size: 12px;
    font-family: "Jost", sans-serif;
    background-color: #497174;
    color: white;
    text-align: center;
    a {
      color: white;
      font-weight: 600;
    }
  }
  .container {
    .header-wrapper {
      @include size(100%, 100px);
      @include places;
      justify-content: space-between;
      .responsive-menu {
        font-size: 24px;
      }
      .header-left {
        font-size: 25px;
        font-family: "Jost", sans-serif;
        font-weight: 600;
        color: #112b3c;
      }

      .header-right {
        .left-menu {
          display: flex;
          gap: 20px;
          i {
            font-size: 18px;
            color: #112b3c;
          }
          .cart {
            position: relative;
            .count {
              position: absolute;
              bottom: 70%;
              padding-top: 2px;
              border-radius: 50%;
              @include size(16px, 16px);
              text-align: center;
              font-size: 10px;
              color: white;
              background-color: #eb6440;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .responsive-menu {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  .global-notification{
    .container{
      font-size: 10px;
    }
  }
  
}

