.btns{
        width: 130px;
        height: 50px;
        font-family: "Jost", sans-serif;
       border: none;
        border-radius: 5px;
        background-color: #53787B;
        font-size: 15px;
        color: white;

       }
