.card {
  background-color: #d6e4e5;
  position: relative;
  border-radius: 5px;
  .image {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    border-radius: 5px;
    img {
      width: 88%;
      border-radius: 5px;
      transition: .3s ease all;
    }
    .img2{
        position: absolute;
        opacity: 0;
       visibility: hidden;
       
    }
    
  }
  .card-detail {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    row-gap: 6px;
    font-family: "Jost", sans-serif;
    h1 {
      font-size: 14px;
      font-weight: 600;
      color: #112b3c;
    }
    .stars {
      display: flex;
      justify-content: center;

      .star {
        color: #ffd700;
      }
    }
    .price {
      .discount {
        color: #ea6643;
      }
      s {
        color: #557c7f;
      }
    }
  }
  .percent {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: #eb6845;
    font-family: "Jost", sans-serif;
    font-size: 13px;
  }
  .card-elements {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-out all;
    .element {
      width: 35px;
      height: 35px;
      color: white;
      background-color: #112b3c;
      border: none;
      border-radius: 10px;
      font-size: 16px;
    }
  }
  &:hover .card-elements {
    transform: translate(15px);
    opacity: 1;
    visibility: visible;
    
  }
  &:hover .img2{
       opacity: 1;
       visibility: visible;
    }
}
