.categories {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  .categorie-item {
    border-radius: 5px;
    background-color: #d6e4e5;
    .subtitle {
      margin-bottom: 10px;
      text-align: center;
      color: #112b3c;
      font-family: "Jost", sans-serif;
    }

    img {
      padding: 20px;
      width: 160px;
      height: 160px;
      border-radius: 15px !important;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .categories {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 600px) {
  .categories {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
