.contact {
  .container {
    
      .contact-title {
        font-family: "Jost", sans-serif;

        h4{
          color: orangered;
          font-size: 20px;
          font-weight: 500;
        }
        h2 {
          font-weight: 500;
          text-transform: uppercase;
        }
        .contact-subtitle{
            max-width: 980px;
            font-size: 14px;
        }
      
      .contact-wrapper {
      .contact-left{
        label{
            font-family: "Jost", sans-serif;
            font-size: 13px;
        }
      }
    }
  }}
}
