.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;

  .modal-search {
    width: 800px;
    border: 1px solid #efefef;
    min-height: 500px;
    margin: auto;
    background-color: #eff5f5;
    border-radius: 10px;
    margin-top: 80px;
    position: relative;

    .modal-wrapper {
      padding: 30px 30px;

      .title {
        font-size: 35px;
        font-family: "Jost", sans-serif;
        color: #112b3c;
        font-weight: 500;
      }
      .sub-title {
        font-size: 15px;
        font-family: "Jost", sans-serif;
        color: #778690;
      }
      .form {
        margin-top: 20px;
        display: flex;
        border-top: 2px solid #d6e4e5;
        border-bottom: 2px solid #d6e4e5;
        padding: 15px 0;

        input {
          width: 100%;
          height: 40px;
          border: 1px solid #d6e4e5;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          outline: none;
          text-indent: 10px;

          &:focus {
            outline: 1px solid #112b3c;
          }

          &::placeholder {
            font-size: 15px;
            font-family: "Jost", sans-serif;
          }
        }

        .btn {
          border: none;
          width: 60px;
          border: 1px solid #d6e4e5;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          background-color: #d6e4e5;
          font-size: 20px;

          &:hover {
            background-color: orangered;
          }
        }
      }
      .result-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        border: 1px solid #d6e4e5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-top: 10px;
        background-color: #d6e4e5;
        h1 {
          font-size: 15px;
          font-family: "Jost", sans-serif;
          font-weight: 600;
          padding: 10px 10px;
        }
      }
      .cart {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;

        a {
          border: 1px solid #d6e4e5;
          height: 100px;
          display: flex;
          align-items: center;
          font-family: "Jost", sans-serif;
          justify-content: center;
          gap: 10px;

          img {
            width: 70px;
            height: 80px;
            object-fit: contain;
          }
          .cart-detail {
            h1 {
              font-size: 15px;
              color: #112b3c;
              font-weight: 400;
            }
            .code {
              color: #c7d1d4;
              font-size: 13px;
            }
            .price {
              color: orangered;
              font-size: 13px;
              font-weight: 600;
            }
          }
          &:hover {
            background-color: #d6e4e5;
          }
        }
      }
      .circle {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
}
