* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: auto;
  width: 1200px;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.blog {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  width: 360px;
}
.blog .blog-img {
  overflow: hidden;
  border-radius: 6px;
}
.blog .blog-img img {
  width: 100%;
}
.blog .blog-detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin: 15px 0px;
  font-family: "Jost", sans-serif;
}
.blog .blog-detail .date {
  color: #9EACB2;
}
.blog .blog-detail .subtitle {
  color: #112B3C;
  font-size: 18px;
  font-weight: 600;
}
.blog .blog-detail .more a {
  font-weight: 600;
  border-bottom: 2px solid #739294;
  color: #739294;
  padding: 3px;
}

.brand {
  transition: 0.2s ease all;
  opacity: 0.4;
}
.brand:hover {
  opacity: 1;
}

.btns {
  width: 130px;
  height: 50px;
  font-family: "Jost", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #53787b;
  font-size: 15px;
  color: white;
}

.slider-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 200px;
}
.slider-button .chevron {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 100%;
  border: none;
  opacity: 0.4;
  cursor: pointer;
  background-color: #497174;
}
.slider-button .chevron:hover {
  opacity: 1;
  background-color: orangered;
  transition: background-color 0.3s;
  color: white;
}

.campaign-click {
  border: 1px solid black;
  padding: 8px 100px;
  border: none;
  margin-left: 20px;
  font-family: "Jost", sans-serif;
  border-radius: 5px;
}

.shop-btn {
  margin-top: 40px;
  padding: 20px 60px;
  border: none;
  border-radius: 6px;
  border: 2px solid #497174;
  color: #497174;
  text-transform: uppercase;
}
.shop-btn:hover {
  background-color: #497174;
  color: white;
}

.msg {
  font-family: "Jost", sans-serif;
  padding: 10px 20px;
  width: 150px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #497174;
}
.msg:hover {
  background-color: #d6e4e5;
}

.login-btn {
  font-family: "Jost", sans-serif;
  padding: 10px 20px;
  width: 100%;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #497174;
  margin-top: 10px;
}
.login-btn:hover {
  background-color: #d6e4e5;
}

.register-btn {
  margin-top: 10px;
  font-family: "Jost", sans-serif;
  padding: 10px 20px;
  width: 100%;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #eb6440;
}
.register-btn:hover {
  background-color: #d6e4e5;
}

.campania-wrapper {
  margin-top: 20px;
}
.campania-wrapper .campania-first {
  display: flex;
  gap: 20px;
}
.campania-wrapper .campania-first .campania-item {
  border-radius: 8px;
  padding: 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.campania-wrapper .campania-first .campania-item:nth-child(1) {
  flex: 7;
  background-image: url(https://ecommarcejs.netlify.app/img/campaigns/banner1.png);
}
.campania-wrapper .campania-first .campania-item:nth-child(2) {
  flex: 4;
  background-image: url(https://ecommarcejs.netlify.app/img/campaigns/banner2.png);
}
.campania-wrapper .campania-second {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.campania-wrapper .campania-second .campania-item {
  border-radius: 8px;
  padding: 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.campania-wrapper .campania-second .campania-item:nth-child(1) {
  flex: 4;
  background-image: url(https://ecommarcejs.netlify.app/img/campaigns/banner4.png);
}
.campania-wrapper .campania-second .campania-item:nth-child(2) {
  flex: 7;
  background-image: url(https://ecommarcejs.netlify.app/img/campaigns/banner3.png);
}
.campania-wrapper h1 {
  color: white;
  font-size: 20px;
  width: 200px;
  padding: 10px 20px;
  font-family: "Jost", sans-serif;
}
.campania-wrapper .subtitle {
  color: white;
  font-size: 14px;
  width: 250px;
  padding: 10px 20px;
  font-family: "Jost", sans-serif;
}

@media (max-width: 768px) {
  .campania-first,
  .campania-second {
    flex-direction: column;
    gap: 20px;
  }
  .campania-first .campania-item,
  .campania-second .campania-item {
    flex: none;
    width: 100%;
  }
}
.card {
  background-color: #d6e4e5;
  position: relative;
  border-radius: 5px;
}
.card .image {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  border-radius: 5px;
}
.card .image img {
  width: 88%;
  border-radius: 5px;
  transition: 0.3s ease all;
}
.card .image .img2 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.card .card-detail {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  row-gap: 6px;
  font-family: "Jost", sans-serif;
}
.card .card-detail h1 {
  font-size: 14px;
  font-weight: 600;
  color: #112b3c;
}
.card .card-detail .stars {
  display: flex;
  justify-content: center;
}
.card .card-detail .stars .star {
  color: #ffd700;
}
.card .card-detail .price .discount {
  color: #ea6643;
}
.card .card-detail .price s {
  color: #557c7f;
}
.card .percent {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: #eb6845;
  font-family: "Jost", sans-serif;
  font-size: 13px;
}
.card .card-elements {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-out all;
}
.card .card-elements .element {
  width: 35px;
  height: 35px;
  color: white;
  background-color: #112b3c;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
.card:hover .card-elements {
  transform: translate(15px);
  opacity: 1;
  visibility: visible;
}
.card:hover .img2 {
  opacity: 1;
  visibility: visible;
}

.categories {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.categories .categorie-item {
  border-radius: 5px;
  background-color: #d6e4e5;
}
.categories .categorie-item .subtitle {
  margin-bottom: 10px;
  text-align: center;
  color: #112b3c;
  font-family: "Jost", sans-serif;
}
.categories .categorie-item img {
  padding: 20px;
  width: 160px;
  height: 160px;
  border-radius: 15px !important;
  transition: transform 0.3s ease;
}
.categories .categorie-item img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .categories {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 600px) {
  .categories {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav .toggle {
  display: none;
}
nav .menu {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav .menu .link {
  position: relative;
  display: flex;
  height: 100px;
  align-items: center;
}
nav .menu .link:hover .dropdown-wrapper {
  display: block;
  z-index: 1000;
}
nav .menu .link:hover .megamenu-wrapper {
  display: flex;
  z-index: 1000;
}
nav .menu .link:hover i {
  color: #497174;
}
nav .menu .link:hover .main-menu {
  color: #497174;
}
nav .menu .link .dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: -20px;
  border: 1px solid #deeffa;
  background-color: #eff5f5;
  width: 160px;
  height: 200px;
  display: none;
}
nav .menu .link .dropdown-wrapper .dropdown-menu .dropdown-link {
  margin-top: 10px;
}
nav .menu .link .dropdown-wrapper .dropdown-menu .dropdown-link a {
  font-size: 12px;
  padding: 20px 20px;
}
nav .menu .link .dropdown-wrapper .dropdown-menu .dropdown-link:hover a {
  color: #497174;
}
nav .menu .link:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #497174;
  position: absolute;
  bottom: 40px;
  left: 0;
  transition: width 0.5s ease;
}
nav .menu .link .megamenu-wrapper {
  position: absolute;
  top: 100%;
  border: 1px solid #d6e4e5;
  width: 1100px;
  left: -450px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  background-color: #eff5f5;
  display: none;
}
nav .menu .link .megamenu-wrapper a:hover {
  color: #497174;
}
nav .menu .link .megamenu-wrapper .mega-img {
  margin-top: 20px;
  padding-right: 20px;
  font-size: 12px;
  font-family: "Jost", sans-serif;
}
nav .menu .link .megamenu-wrapper .mega-img .subtitle {
  font-size: 16px;
  font-family: "Jost", sans-serif;
}
nav .menu .link .megamenu-wrapper .mega-img .btn {
  width: 150px;
  height: 35px;
  margin-top: 15px;
  border-radius: 5px;
  border: 2px solid #d6e4e5;
  background-color: #eff5f5;
  font-family: "Jost", sans-serif;
  font-size: 13px;
}
nav .menu .link .megamenu-wrapper .mega-img .btn:hover {
  background-color: #d6e4e5;
}
nav .menu .link .megamenu-wrapper ul {
  margin-top: 20px;
}
nav .menu .link .megamenu-wrapper ul li {
  margin-top: 10px;
}
nav .menu .link .megamenu-wrapper ul li h1 {
  font-size: 12px;
  font-family: "Jost", sans-serif;
  padding: 10px 10px;
}
nav .menu .link .megamenu-wrapper ul li a {
  padding: 10px 10px;
  font-size: 12px;
  font-family: "Jost", sans-serif;
}
nav .menu a {
  color: #112b3c;
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}
nav .menu a:hover {
  color: #497174;
}
nav .menu i {
  color: #112b3c;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  nav {
    background-color: white;
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1000;
    top: 0;
    pointer-events: none;
    background-color: #eff5f5;
    border-right: 2px solid #d6e4e5;
  }
  nav .toggle {
    display: flex;
    justify-content: end;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 18px;
  }
  nav .menu {
    display: block;
    margin-top: 30px;
    margin-left: 70px;
  }
  nav .menu i {
    display: none;
  }
}
.input {
  width: 100%;
  padding: 10px;
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}
.modal-overlay .modal-search {
  max-width: 800px;
  border: 1px solid #efefef;
  max-height: 80vh;
  overflow: auto;
  margin: auto;
  background-color: #eff5f5;
  border-radius: 10px;
  margin-top: 80px;
  position: relative;
}
.modal-overlay .modal-search .modal-wrapper {
  padding: 30px 30px;
}
.modal-overlay .modal-search .modal-wrapper .title {
  font-size: 35px;
  font-family: "Jost", sans-serif;
  color: #112b3c;
  font-weight: 500;
}
.modal-overlay .modal-search .modal-wrapper .sub-title {
  font-size: 15px;
  font-family: "Jost", sans-serif;
  color: #778690;
}
.modal-overlay .modal-search .modal-wrapper .form {
  margin-top: 20px;
  display: flex;
  border-top: 2px solid #d6e4e5;
  border-bottom: 2px solid #d6e4e5;
  padding: 15px 0;
}
.modal-overlay .modal-search .modal-wrapper .form input {
  width: 100%;
  height: 40px;
  border: 1px solid #d6e4e5;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  text-indent: 10px;
}
.modal-overlay .modal-search .modal-wrapper .form input:focus {
  outline: 1px solid #112b3c;
}
.modal-overlay .modal-search .modal-wrapper .form input::placeholder {
  font-size: 15px;
  font-family: "Jost", sans-serif;
}
.modal-overlay .modal-search .modal-wrapper .form .btn {
  border: none;
  width: 60px;
  border: 1px solid #d6e4e5;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #d6e4e5;
  font-size: 20px;
}
.modal-overlay .modal-search .modal-wrapper .form .btn:hover {
  background-color: orangered;
}
.modal-overlay .modal-search .modal-wrapper .result-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #d6e4e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 10px;
  background-color: #d6e4e5;
}
.modal-overlay .modal-search .modal-wrapper .result-wrapper h1 {
  font-size: 15px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  padding: 10px 10px;
}
.modal-overlay .modal-search .modal-wrapper .cart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}
.modal-overlay .modal-search .modal-wrapper .cart a {
  border: 1px solid #d6e4e5;
  height: 100px;
  display: flex;
  align-items: center;
  font-family: "Jost", sans-serif;
  justify-content: center;
  gap: 10px;
}
.modal-overlay .modal-search .modal-wrapper .cart a img {
  width: 70px;
  height: 80px;
  object-fit: contain;
}
.modal-overlay .modal-search .modal-wrapper .cart a .cart-detail h1 {
  font-size: 15px;
  color: #112b3c;
  font-weight: 400;
}
.modal-overlay .modal-search .modal-wrapper .cart a .cart-detail .code {
  color: #c7d1d4;
  font-size: 13px;
}
.modal-overlay .modal-search .modal-wrapper .cart a .cart-detail .price {
  color: orangered;
  font-size: 13px;
  font-weight: 600;
}
.modal-overlay .modal-search .modal-wrapper .cart a:hover {
  background-color: #d6e4e5;
}
.modal-overlay .modal-search .modal-wrapper .circle {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .modal-overlay .modal-search {
    max-width: 400px;
  }
  .modal-overlay .modal-search .modal-wrapper .cart {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.policy-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  gap: 10px;
}
.policy-list .policy-item {
  display: flex;
  gap: 15px;
}
.policy-list .policy-item i {
  display: flex;
  font-size: 40px;
  align-items: center;
  color: #112b3c;
}
.policy-list .policy-item .policy-text {
  display: flex;
  flex-direction: column;
  color: #112b3c;
  font-family: "Jost", sans-serif;
}
.policy-list .policy-item .policy-text strong {
  font-size: 14px;
}

.slider {
  width: 100%;
  position: relative;
  z-index: 1;
}
.slider .slider-wrapper .slider-buttons {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 30px;
}
.slider .slider-wrapper .slider-buttons .chevron {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 100%;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}
.slider .slider-wrapper .slider-buttons .chevron:hover {
  opacity: 1;
  background-color: #497174;
  transition: background-color 0.3s;
  color: white;
}
.slider .slider-wrapper .slider-dots {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 20px;
  justify-content: center;
  gap: 10px;
}
.slider .slider-wrapper .slider-dots .dot {
  align-items: end;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #497174;
  opacity: 1;
  cursor: pointer;
}
.slider .slider-wrapper .slider-dots .dot:hover {
  opacity: 0.5;
}
.slider .slider-wrapper .slider-item .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 145px);
  font-family: "Jost", sans-serif;
}
.slider .slider-wrapper .slider-item .container .subtitle {
  font-size: 18px;
}
.slider .slider-wrapper .slider-item .container h1 {
  font-size: 60px;
  font-weight: 400;
}
.slider .slider-wrapper .slider-item .slider-img img {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100vh - 145px);
  z-index: -1;
  object-fit: cover;
  object-position: 60% !important;
}

@media only screen and (max-width: 768px) {
  .slider .slider-wrapper .slider-buttons {
    display: none;
  }
}
.footer .footer-up {
  background-color: #112b3c;
}
.footer .footer-up .container .footerUp-wrapper {
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer-up .container .footerUp-wrapper .footerUp {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-top {
  font-family: "Jost", sans-serif;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-top .titles {
  font-size: 30px;
  max-width: 400px;
  color: #eff5f5;
  line-height: 1.2;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-top .subtitles {
  font-size: 15px;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-top .titles-right {
  font-size: 30px;
  max-width: 236px;
  line-height: 1.2;
  color: #eff5f5;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-top .subtitles {
  color: #8c9ba3;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-bottom .img {
  display: flex;
  margin-top: 40px;
  gap: 15px;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-bottom .img .app-store {
  height: 42px;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-bottom .img .google-play {
  margin-top: 3px;
  height: 36px;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-bottom form {
  display: flex;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-bottom form input {
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #d6e4e5;
  text-indent: 15px;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-bottom form input::placeholder {
  font-size: 15px;
  font-family: "Jost", sans-serif;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-bottom form .subscribe {
  padding: 15px 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #eff5f5;
  border: none;
  border: 1px solid #d6e4e5;
  font-family: "Jost", sans-serif;
  color: #497174;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-bottom form .subscribe:hover {
  background-color: #497174;
  color: white;
}
.footer .footer-up .container .footerUp-wrapper .footerUp .footerUp-bottom .subtitles {
  color: #8c9ba3;
  font-size: 13px;
  font-family: "Jost", sans-serif;
}
.footer .footer-center .container .footer-center-wrapper {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.footer .footer-center .container .footer-center-wrapper .footer-center-left {
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
  gap: 15px;
  color: #112b3c;
}
.footer .footer-center .container .footer-center-wrapper .footer-center-left .logo {
  font-size: 30px;
  font-weight: 600;
}
.footer .footer-center .container .footer-center-wrapper .footer-center-left .subtitle {
  max-width: 500px;
  opacity: 0.8;
}
.footer .footer-center .container .footer-center-wrapper .footer-center-left .number {
  opacity: 0.8;
}
.footer .footer-center .container .footer-center-wrapper .footer-center-right {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: #112b3c;
}
.footer .footer-center .container .footer-center-wrapper .footer-center-right .right {
  font-family: "Jost", sans-serif;
  font-size: 15px;
}
.footer .footer-center .container .footer-center-wrapper .footer-center-right .right h1 {
  font-weight: 500;
  margin-bottom: 10px;
}
.footer .footer-center .container .footer-center-wrapper .footer-center-right .right li {
  font-size: 13px;
}
.footer .footer-down {
  border: 1px solid #d6e4e5;
}
.footer .footer-down .container .footer-down-wrapper {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.footer .footer-down .container .footer-down-wrapper .footer-down-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .footer-down .container .footer-down-wrapper .footer-down-left .footer-down-top {
  color: #455B68;
  font-size: 13px;
  font-family: "Jost", sans-serif;
}
.footer .footer-down .container .footer-down-wrapper .footer-down-right .footer-policy {
  color: #455B68;
  font-size: 13px;
  font-family: "Jost", sans-serif;
  display: flex;
  gap: 15px;
}
.footer .footer-down .container .footer-down-wrapper .footer-down-right .footer-policy li:not(:last-child) {
  border-right: 1px solid #dee0ea;
  padding-right: 5px;
}

header {
  border: 1px solid #d6e4e5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
  width: 100%;
  height: 145px;
  background-color: #eff5f5;
}
header .global-notification {
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: "Jost", sans-serif;
  background-color: #497174;
  color: white;
  text-align: center;
}
header .global-notification a {
  color: white;
  font-weight: 600;
}
header .container .header-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .header-wrapper .responsive-menu {
  font-size: 24px;
}
header .container .header-wrapper .header-left {
  font-size: 25px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: #112b3c;
}
header .container .header-wrapper .header-left a {
  color: #112b3c;
}
header .container .header-wrapper .header-right .left-menu {
  display: flex;
  gap: 20px;
  margin-right: 15px;
}
header .container .header-wrapper .header-right .left-menu i {
  font-size: 18px;
  color: #112b3c;
}
header .container .header-wrapper .header-right .left-menu .cart {
  position: relative;
}
header .container .header-wrapper .header-right .left-menu .cart .count {
  position: absolute;
  bottom: 70%;
  padding-top: 2px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  color: white;
  background-color: #eb6440;
}

@media only screen and (min-width: 768px) {
  .responsive-menu {
    display: none;
  }
}
@media only screen and (max-width: 460px) {
  .global-notification .container {
    font-size: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .container .header-wrapper .center {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 460px;
  }
}
@media only screen and (max-width: 460px) {
  .container {
    max-width: 400px;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    max-width: 310px;
  }
}
.account .container .account-wrapper {
  padding: 40px 0;
  display: flex;
  gap: 80px;
  font-family: "Jost", sans-serif;
}
.account .container .account-wrapper h1 {
  font-weight: 500;
  font-size: 18px;
}
.account .container .account-wrapper .login {
  width: 50%;
}
.account .container .account-wrapper .register {
  width: 50%;
}
.account .container .account-wrapper .account-form {
  padding: 10px 0;
}
.account .container .account-wrapper .account-form span {
  font-size: 14px;
}
.account .container .account-wrapper .account-form span a {
  color: orangered;
}
.account .container .account-wrapper .account-form .remember {
  margin-top: 30px;
}
.account .container .account-wrapper .account-form .note {
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
  .account .container .account-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .account .container .account-wrapper .login {
    width: 100%;
  }
  .account .container .account-wrapper .register {
    width: 100%;
  }
}
.contact .container .contact-title {
  font-family: "Jost", sans-serif;
}
.contact .container .contact-title h4 {
  color: orangered;
  font-size: 20px;
  font-weight: 500;
}
.contact .container .contact-title h2 {
  font-weight: 500;
  text-transform: uppercase;
}
.contact .container .contact-title .contact-subtitle {
  max-width: 980px;
  font-size: 14px;
}
.contact .container .contact-title .contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}
.contact .container .contact-title .contact-wrapper .contact-left {
  width: 50%;
}
.contact .container .contact-title .contact-wrapper .contact-left .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact .container .contact-title .contact-wrapper .contact-left .form label {
  font-family: "Jost", sans-serif;
  font-size: 13px;
}
.contact .container .contact-title .contact-wrapper .contact-left .form .name-email {
  display: flex;
  gap: 10px;
}
.contact .container .contact-title .contact-wrapper .contact-left .form .name-email input {
  width: 100%;
  padding: 10px;
  border: none;
}
.contact .container .contact-title .contact-wrapper .contact-left .form .subject input {
  width: 100%;
  padding: 10px 0;
  border: none;
  text-indent: 1;
}
.contact .container .contact-title .contact-wrapper .contact-left .form .mesagge textarea {
  width: 100%;
  height: 50px;
  border: none;
}
.contact .container .contact-title .contact-wrapper .contact-right h1 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.contact .container .contact-title .contact-wrapper .contact-right p {
  margin-top: 10px;
  font-size: 13px;
}
.contact .container .contact-title .contact-wrapper .contact-right .open {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .contact .container .contact-title .contact-wrapper .contact-left {
    width: 100%;
  }
}
.section {
  width: 100%;
  background-color: #eff5f5;
}
.section .container .title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  font-family: "Jost", sans-serif;
  color: #112b3c;
}
.section .container .title h1 {
  font-size: 30px;
  font-weight: 500;
}
.section .container .products {
  position: relative;
}
.section .container .products .product {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}
.section .container .blogs {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 40px 0;
  justify-content: space-between;
}
.section .container .brands {
  display: flex;
  justify-content: space-around;
  padding: 35px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background-color: #eff5f5;
  border-radius: 6px;
  flex-wrap: wrap;
  gap: 10px;
}
.section .discount-sticker {
  margin-top: 30px;
  background-image: url(https://ecommarcejs.netlify.app/img/single-campaign.png);
  padding: 160px;
  background-attachment: fixed;
  color: white;
  font-family: "Jost", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section .discount-sticker h1 {
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
}
.section .discount-sticker .percent {
  font-size: 60px;
  font-weight: 700;
}
.section .discount-sticker .line {
  background-color: white;
  width: 50px;
  border: 1px solid white;
  text-align: center;
  height: 7px;
}
.section .policy {
  margin-top: 40px;
  border: 1px solid #dee0da;
}

@media only screen and (max-width: 768px) {
  .category-products .container .products .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .category-products .container .blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */